@model IEnumerable<WebApplication3.Models.Account1>

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
</head>
<body>
    <div class="triangle-bottomleft"></div>
    <div class="mid-cls">
        <img class="wave" src="~/img/undraw_login.svg" />
        <div class="swm-right-w3ls">
            <h2>LOGIN</h2>
            <form action="Verify" method="post">
                <div class="main">
                    <div class="form-left-w3l">
                        <input type="text" name="Username" placeholder="Username" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-right-w3ls">
                        <input type="password" name="Password" placeholder="Password" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="btnn">
                        <button type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
