<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
</head>
<body>
    <div>
        @RenderSection("Sidemenu", required: false)
        @RenderBody()

    </div>
</body>
</html>
